<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fruit Sorter - {% block title %} {% endblock %}</title>
    <style>
    a{text-decoration: none;
    color: red;}
</style>
</head>
<body>
<div class="container">
<h1><a href="/">Fruit sorter</a></h1>
{% block content %} {% endblock %}
<footer>© 2018 Copyright: Rafayel Gardishyan</footer>
</div>
</body>
</html>