{% extends "base.html" %}
{% block title%}Input{%endblock%}
{% block content %}
<h3>{{ count }} fruits sorted</h3>
<p>This is a Machine Learning Algorithm based on k Nearest Neighbours with sorts fruit based on input data (Size, Color, Shape and Texture).
Every time, when a user adds a fruit the ML learns to sort fruits better and better. <b>Disclaimer: This ML Algorithm is not going to kill humans</b></p>
<p>Help this ML to learn better sorting. <br><br> <a class="btn btn-success btn-lg" href="/input">Sort your fruit</a></p>
{% endblock %}