{% extends "base.html" %}
{% block title%}Sorted: {{ type }}{%endblock%}
{% block content %}
<h3>Thank you!</h3>

<p>Your fruit is a/an <b>{{ type }}</b><br>
<i>More information about your fruit on <a href="https://google.com/search?q={{ type }}">Google</a> or <a href="https://en.wikipedia.org/wiki/{{ type }}">Wikipedia</a></i></p>
<p><b>Not the right fruit?</b> <a class="text-danger" href="/edit/{{ id }}">Edit >>></a></p>
<a class="btn btn-danger" href="/input">Sort a new fruit</a>
{% endblock %}
